.mex {
  margin-top: 10%;
  margin-bottom: 10%;
}
.marginXl {
  margin-top: 10%;
  margin-bottom: 20%;
}

.btn-bg-theme {
  background-color: #e03036 !important;
}
.border-theme {
  border-bottom: #000000 2px solid;
}
