/* home page  */
.Herobanner {
  background-image: url(../../images/vecorbg1.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}
.Herobanner2 {
  background-image: url(../../images/herobgwhite.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}

.text-theme {
  color: #df2f36;
}
.text-theme-dark {
  color: #df2f36;
}

.btn-themee {
  background-color: #df2f36;
}
