.bg-theme{
    background-color:#00bfff;
    color:rgb(255, 255, 255) !important;
    height: 120px;
}
.brand-name{
    font-family: sans-serif;
    font-style:normal;
    font-weight: 300;
    font-size: 40px;
}   